<div class="alert alert-info" role="alert">
  Link para documentação <a href="https://developers.google.com/maps/documentation/streetview/intro?hl=pt-br">aqui</a>.
</div>

<br>

<form>
  <fieldset class="form-group">
    <label>Altura</label>
    <br><span>Seta a altura da imagem</span>

    <rzslider
    rz-slider-model="range.size.value"
    rz-slider-options="range.size.options"></rzslider>
  </fieldset>

  <fieldset class="form-group">
    <label>Largura</label>
    <br><span>Seta a largura da imagem</span>
    <rzslider
    rz-slider-model="range.size.value"
    rz-slider-options="range.size.options"></rzslider>
  </fieldset>

  <br>

  <fieldset class="form-group">
    <label>Heading</label>
    <rzslider
    rz-slider-model="range.heading.value"
    rz-slider-options="range.heading.options"></rzslider>
  </fieldset>

  <br>

  <fieldset class="form-group">
    <label>Pitch</label>
    <rzslider
    rz-slider-model="range.pitch.value"
    rz-slider-options="range.pitch.options"></rzslider>
  </fieldset>

  <br>

  <fieldset class="form-group">
    <label>Fov</label>
    <rzslider
    rz-slider-model="range.fov.value"
    rz-slider-options="range.fov.options"></rzslider>
  </fieldset>

  <br>

  <fieldset class="form-group">
    <label for="address">Endereço</label>
    <input autocomplete="off" type="text" class="form-control" id="address" uib-typeahead="address for address in autoComplete($viewValue)" ng-model="$viewValue" typeahead-on-select="getAddress($item)">
  </fieldset>

  <br>

  <fieldset class="form-group">
    <button class="btn btn-primary" ng-click="ImHere()">pegar minha localização</button>
  </fieldset>
</form>

<br><br>

<figure>
  <img ng-src="https://maps.googleapis.com/maps/api/streetview?size={{range.size.value}}x{{range.size.value}}&location={{coords.lat}},{{coords.lng}}&fov={{range.fov.value}}&heading={{range.heading.value}}&pitch={{range.pitch.value}}&key=AIzaSyBphP6jOsoGcoMNUqwGG5MQ75tR4IlJckI" alt="Imagem">
</figure>
