<div class="alert alert-info" role="alert">
  Link para documentação <a href="https://developers.google.com/maps/documentation/javascript/examples/streetview-custom-simple">aqui</a>.
</div>

<!-- map -->
<form ng-submit="getPanoramica()">
  <fieldset class="form-group">
    <label for="url">Url</label>
    <input type="text" placeholder="https://farm6.staticflickr.com/5779/22770454046_0d5908575c_k.jpg" id="url" ng-model="view.url" class="form-control">
  </fieldset>

  <fieldset class="form-group">
    <button class="btn btn-primary">importar url</button>
  </fieldset>
</form>

<div class="col-xs-12 box">
  <aside id="map_panoramic"></aside>
</div>

<br>

