<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Google Street View Image API</h3>
  </div>

  <div class="panel-body">
    <div ng-include src="'../views/partials/g_streetview_image.html'"></div>
  </div>
</div>

<br><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Google Street View Service</h3>
  </div>

  <div class="panel-body">
    <div ng-include src="'../views/partials/g_streetview_service.html'"></div>
  </div>
</div>

<br><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Custom Street View panoramas</h3>
  </div>

  <div class="panel-body">
    <div ng-include src="'../views/partials/g_streetview_custom.html'"></div>
  </div>
</div>
